@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .region-none {
    -webkit-app-region: none;
  }
  .draggable {
    -webkit-app-region: drag;
  }
}

@layer base {
  @font-face {
    font-family: "Do Hyeon";
    font-weight: 400;
    font-style: normal;
    src: url(./assets/fonts/DoHyeon-Regular.ttf) format("truetype")
  }
  @font-face {
    font-family: 'Barlow';
    font-weight: normal;
    src: url('./assets/fonts/Barlow-Regular.ttf') format('truetype'),
  }
  @font-face {
    font-family: 'Barlow';
    font-weight: bold;
    src: url('./assets/fonts/Barlow-Bold.ttf') format('truetype'),
  }

  #app {
    @apply h-full
  }

  html,
  body {
    @apply h-full select-none bg-transparent;
    @apply font-dh;
    @apply overflow-hidden
  }

  ::-webkit-scrollbar {
    @apply w-2
  }

  ::-webkit-scrollbar-thumb{
    @apply bg-[#555]
  }

  ::-webkit-scrollbar-track{
    @apply bg-transparent
  }

}
